.adwantage{
    background: #ffffff ;
    min-height: 100vh;
    position: relative;
}
.adwantage-card{
    min-height:320px;
    color: #fff;
    background: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 0 10px #dad9d9;
    border-radius: 20px;
}
.adwantage-card .card-header{
    background-color: transparent;
}
 .adwantage-card p{
   font-size: 1.2em;
   margin-top: 10px;
   color: #484646;
}
.adwantage-header{
    font-weight: 600;
}
/* .adwantage-card:hover{
    background-color: #a851fe7c;
    border-radius: 20px;
    cursor: pointer;
} */
.adwantage-card h4{
    font-size: 1.4em;
    color: #3858f8;
    font-weight: 600;
    position: relative;
}
/* .adwantage-card h4::before{
    content: "";
    position: absolute;
    width:50%;
    height: 4px;
    background-color: #fff;
    border-radius: 100px;
    bottom: -10px;
    left: 40%;
} */
.adwantage-card [class*="bi"]{
    font-size: 2.5em;
    background-color: #ffffff;
    color: #6f6f6f;
    min-width: 100px !important;
    min-height: 100px !important;
    padding: 0px 10px;
    border-radius: 100px;
    display: block;
    max-width: fit-content;
    padding: 10px;
    border: 4px solid #101010;
    
}
.adwantage-card:hover{
    cursor: pointer;
}
.adwantage-card:hover [class*="bi-"]{
    background: #3858f8;
    color: #ffffff;
    border: 4px solid #000;
}
.adwantage-card:hover .adwance-btn{
    background: #3858f8;
    color: #ffffff;
    border: 2px solid #000;
}
.adwance-btn{
    border: 0;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 1rem;
    color: #000;
    border: 1px solid #484646;
    border-radius: 100px;
}

.blur, .blur2{
    filter: blur(90px);
    width: 100%;
    height: 7rem;
    border-radius: 100%;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    background-color: rgba(92, 0, 240, 0.612);
    margin-left: auto;
    margin-right: auto;
}
.blur2{
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
}