 
  
 
.placed{
   min-height: 88vh;
   max-height: fit-content;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
   position: relative;
   padding-bottom: 50px;
}
.placed img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border: 4px solid #5b09d7;
}
.certificate{
    min-height: fit-content;
    position: relative;
}
.certificate-text{
    min-height:100%;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    padding: 40px;
    z-index: 2;
    margin-bottom: 20px;
    /* background: url('../images/corcle-placed.svg') no-repeat center; */

    background-size: cover;
}
.brand{
    color: #5b09d7;
}
.placed-section-text-scroll{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #5b09d7;
    width: 100%;
    border: 2px solid #000;
    font-size: 1.5rem;
    padding: 10px;
}
.Enquire-btn{
    border: none;
    padding: 0;
    background: #5b09d7 !important;
    color: #fff;
    font-size: 1rem;
    border-radius: 100px !important;
    padding: 0.9rem;
    width: 200px;
    margin-top: 20px;
}

.c-header{
    font-size: 3.5rem;
    font-weight: 600;
}
@media (max-width:528px){
    .c-header{
        font-size: 2em;
    }
}
@media (max-width:768px){
    .placed{
        min-height: 50vh;
    }
    .certificate-text{
        padding: 10px;
    }
    .badge-center-text{
        padding: 18px;
    }
    .brand-badge{
        width: 120px !important;
        height: 120px !important;
    }
    .brand-badge span {
        position: absolute;
        transform: rotate(calc(30deg * var(--index))) translate(50px) rotate(calc(-30deg * var(--index)));
        font-size: 0.9rem;
      }
}

/* .caption{
    min-width: 50vh;
    background-color: black;
} */

.gradient-text {
    font-size: 10rem;
position: relative; /* Required for the pseudo-element */
color: black; /* Initial text color */
overflow: hidden;
}
.gradient-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.616), transparent); /* White gradient */
    transform: translateX(-100%); /* Initial position outside the text */
    transition: transform 2s ease-in-out; /* Transition effect for the transform property */
    }

    .gradient-text:hover::before {
    transform: translateX(100%); /* Move the gradient to the right on hover */
    }
