.placed{
   height: 60vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
   
}
.placed img{
    width: 100%;
    max-height: fit-content;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.certificate{
    min-height: fit-content;
}
.certificate-text{
    min-height:100%;
    border-radius: 30px;
    background-color: #DFDFDE;
    position: relative;
    overflow: hidden;
    padding: 40px;
    z-index: 2;
    margin-bottom: 20px;
    background: url('../images/corcle-placed.svg') no-repeat center;

    background-size: cover;
}

.c-header{
    font-size: 3em;
}
@media (max-width:528px){
    .c-header{
        font-size: 2em;
    }
}

/* .caption{
    min-width: 50vh;
    background-color: black;
} */